<div class="ui segment">
  <%%= form_for(@<%= singular_table_name %>, html: { class: 'ui form' }) do |f| %>
    <%%= render partial: 'layouts/errors_messages', locals: { model: @<%= singular_table_name %> } %>
    <% attributes.each do |attribute| -%>
    <div class="required eight wide field">
      <%%= f.label :<%= attribute.name %> %>
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'somenteLetras', maxlength: 100  %>
    </div>
    <% end -%>
    <div class="actions">
      <%%= link_to t('helpers.links.cancel'), <%= plural_table_name %>_path, class: 'ui button floated' %>
      <%%= f.submit nil, class: 'ui green button' %>
    </div>
  <%% end %>
</div>