<%%= link_to t('helpers.links.new'), new_<%= singular_table_name %>_path, class: 'ui right floated mini primary button' %>
<h1 class="ui dividing header"><%%= <%= singular_table_name.camelcase %>.model_name.human.pluralize %></h1>

<div class="ui styled fluid accordion">
  <div class="title active">
    <i class="dropdown icon"></i>
    <%%= t('helpers.titles.search_filter') %>
  </div>
  <div class="content active">
    <%%= search_form_for @q, html: { class: 'ui tinny form' } do |f| %>
      <div class="fields">
        <% attributes.each do |attribute| -%>
          <div class="three wide field">
            <%%= f.label :<%= attribute.name %> %>
            <%%= f.search_field :<%= attribute.name %>_cont, class: 'somenteLetras', maxlength: 100  %>
          </div>
        <% end -%>
      </div>
      <div class="fields">
        <div class="field">
          <%%= link_to t('helpers.links.clear'), <%= plural_table_name %>_path, class: 'ui gray button' %>
          <%%= f.submit t('helpers.links.search'), class: "ui blue button", data: {tooltip: t('ransack.search'), inverted: ''} %>
        </div>
      </div>
    <%% end %>
  </div>
</div>

<div class="ui orange segment">
  <table class="ui striped table">
    <thead>
      <tr>
        <% attributes.each do |attribute| -%>
        <th><%%= sort_link(@q, :<%= attribute.name %>, <%= singular_table_name.camelcase %>.human_attribute_name(:<%= attribute.name %>)) %></th>
        <% end -%>
        <th class="center aligned" style="width: 5%;"><%%= t('helpers.actions') %></th>
      </tr>
    </thead>

    <tbody>
    <%% @<%= singular_table_name.pluralize %>.each do |<%= singular_table_name %>| %>
      <tr>
        <% attributes.each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
        <% end -%>
        <td style="width: 5%;">
          <div class="ui icon buttons">
            <%%= link_to(content_tag(:i, nil, class: 'info circle icon'), <%= singular_table_name %>, class: 'ui button', data: {tooltip: t('helpers.links.show'), inverted: ''}) %>
            <%%= link_to content_tag(:i, nil, class: 'edit outline icon'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'ui button', data: {tooltip: t('helpers.links.edit'), inverted: ''} %>
            <%%= link_to content_tag(:i, nil, class: 'trash alternate outline red icon'), <%= singular_table_name %>, method: :delete, data: { confirm: t('messages.destroy.confirm'), tooltip: t('helpers.links.destroy'), inverted: '' }, class: 'ui button' %>
          </div>
        </td>
      </tr>
    <%% end %>
    </tbody>
  </table>
  <div class="ui borderless menu">
    <div class="right menu">
      <p class="item"><%%= "#{t('views.pagination.records')} #{@<%= singular_table_name.pluralize %>.size} / #{@<%= singular_table_name.pluralize %>.total_count}" %></p>
    </div>
  </div>
  <br>
</div>