<h1 class="ui dividing header"><%= Address.model_name.human %></h1>
<div class="ui green segment">
      <p>
      <strong><%= Address.human_attribute_name :address %>:</strong>
      <%= @address.address %>
    </p>
      <p>
      <strong><%= Address.human_attribute_name :number %>:</strong>
      <%= @address.number %>
    </p>
      <p>
      <strong><%= Address.human_attribute_name :neighborhood %>:</strong>
      <%= @address.neighborhood %>
    </p>
      <p>
      <strong><%= Address.human_attribute_name :zip_code %>:</strong>
      <%= @address.zip_code %>
    </p>
      <p>
      <strong><%= Address.human_attribute_name :complement %>:</strong>
      <%= @address.complement %>
    </p>
      <p>
      <strong><%= Address.human_attribute_name :reference_point %>:</strong>
      <%= @address.reference_point %>
    </p>
      <p>
      <strong><%= Address.human_attribute_name :comments %>:</strong>
      <%= @address.comments %>
    </p>
  </div>

<%= link_to(t('helpers.links.back'), addresses_path, class: 'ui button white') %>
<%= link_to t('helpers.links.edit'), edit_address_path(@address), class: 'ui green button' %>