<div class="ui mini menu">
  <%= link_to root_path, class: "#{active?("home")} item" do %>
    <%= I18n.t("menu.top.home") %>
  <% end %>
  <div class="right menu">
    <div class="ui dropdown item">
      <%= I18n.t("menu.top.settings.title") %> <i class="dropdown icon"></i>
      <div class="menu">
        <%= link_to I18n.t("menu.top.settings.type_payment"), type_payments_path, class: 'item' %>
        <%= link_to I18n.t("menu.top.settings.cities"), cities_path, class: 'item' %>
        <%= link_to I18n.t("menu.top.settings.neighborhoods"), neighborhoods_path, class: 'item' %>
      </div>
    </div>
    <%= link_to my_config_path, class: "#{active?("users")} item" do %>
       <%= I18n.t("menu.top.my_account") %>
    <% end %>
    <div class="item">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "ui primary button") %>
    <% end %>
    </div>
  </div>
</div>